<%- include('./partials/head') %> 

<body>
    <!--Menu-->
    <%- include('./partials/navbar') %> 

    <div class="container">
      <br>
      
      <a href="#"><i class="fas fa-arrow-left"></i> Clique para voltar</a> <br><br>
      <div class="card shadow ">
        <div class="card-header bg-pink text-white pt-3"> 
        <h2><i class="fas fa-clipboard-list"></i> Meus avisos</h2> <h7>(Avisos que ja foram cadastrados)</h7>
        </div>
        <div class="card-body p-5">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">N° do aviso</th>
                    <th scope="col">Título</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>

                  <% if (avisos.length < 1) { %>
                    <tr>
                        <td colspan="4" class="text-center">Nenhum aviso cadastrado! Comece agora mesmo na página de "novo aviso"</td>
                    </tr>
                   
                  <% } %>
                  
                <!--Cadastro com banco de dados e forEach-->
                  <% avisos.forEach(aviso => { %>
                    <tr>
                        <th scope="row"> <%= aviso.ID_avisos %></th>
                        <td><%= aviso.titulo %></td>
                        <td><%= moment(aviso.data).format("DD/MM/YYYY") %></td>
                        <td>
                            <button class = "btn btn-secondary">Excluir</button>
                            <button class = "btn btn-primary">Mudar</button>
                        </td>
                      </tr>
                  <% }) %>


                </tbody>
              </table>
         
       </div> <!--Div que fecha o card-body-->
    </div> <!--Dvi que fecha o card-->

  </div> <!--Div que fecha o container-->
    
    <%- include('./partials/scripts_import') %> 
    
  </body>
</html>